
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
    body{
    background-color: aquamarine;
}

.wrapper{
    width: 230px;
    /* margin: 100px auto; */
    padding: 30px; 
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
.suit-card{
    width: 200px;
    /* display: inline-block; */
    text-align: center;
    margin-left: 30px;
}
.suit-title, .suit-item{
    color: green ;
    margin-bottom: 20px;
}
.color-black{
    color: black;
}
.suit-price{
    color: grey;
}
.none-margin{
    margin-left: 0;
}
.color-dark-yellow{
    color: rgb(181, 181, 5);
}
.color-dark-red{
    color: rgb(148, 6, 6);
}

.bg-indicator{
    background: #000;
    color: white;
}